<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <a href="#"><img src="assets/img/logo.png" alt="Antalya Logo"></a>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="#" (click)="scrollToSection('header')">Home</a></li>
        <li><a href="#" (click)="scrollToSection('section-1')">Favourites</a></li>
        <li><a href="#" (click)="scrollToSection('section-2')">Guide</a></li>
        <li><a href="#" (click)="scrollToSection('section-3')">Discover</a></li>
        <li><a href="#" (click)="scrollToSection('section-4')">Gastronomy</a></li>
        <li><a href="#" (click)="scrollToSection('section-5')">Contact</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-youtube"></i></li>
        <li><i class="fas fa-search"></i></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Antalya Travel Guide</p>
    <a href="https://github.com/mkamburdev/Antalya-Travel" target="_blank">Source Code</a>
    <span>|</span>
    <a href="https://github.com/mkamburdev" target="_blank">mkamburdev</a>
  </div>
</footer>
