/* Move the scroll styles to the top for better visibility */
.scroll {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: scroll;
  height: 100%;
  margin: auto;
  
  &-text {
    text-align: center;
    
    span {
      font-size: 1rem;
      font-family: var(--font-family);
      color: var(--white);
      text-transform: uppercase;
      text-shadow: var(--shadow);
    }
  }

  &-icon {
    margin-top: 0.5rem;
    
    i {
      font-size: 2rem;
      color: var(--white);
      animation: scroll 2s infinite;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  height: var(--header-height);
  background-image: url('/assets/img/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-shadow {
  background-color: var(--header-shadow);
  height: var(--header-height);
}

.container {
  height: var(--header-height);
  display: grid;
  grid-template-areas:
    "logo"
    "menu"
    "social"
    "content"
    "scroll";
  grid-template-rows: 1fr 1fr 1fr 8fr 1fr;
}

.logo {
  display: grid;
  grid-area: logo;
  justify-content: center;
  margin-top: 2rem;
  
  img {
    width: 14rem;
  }
}

.menu {
  display: grid;
  grid-area: menu;
  justify-content: center;
  align-content: center;
  color: var(--white);
  padding-bottom: 2rem;

  ul li {
    padding: 0.5rem;
    text-align: center;

    a {
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
      font-family: var(--font-family);
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--white);

      &:hover {
        color: var(--primary);
      }
    }
  }
}

.social {
  display: grid;
  grid-area: social;
  justify-content: center;

  li {
    display: inline-block;
    margin: 0 1rem;

    i {
      font-size: 1.7rem;
      color: var(--white);
      text-shadow: 0 0.1rem 0.1rem var(--shadow);
      text-decoration: none;

      &:hover {
        color: var(--primary);
        text-shadow: 0 0.1rem 0.1rem var(--shadow);
      }
    }
  }
}

.header-content {
  display: grid;
  grid-area: content;
  justify-content: center;
  align-content: center;
  color: var(--white);
  width: 70%;
  margin: 0 auto;

  h2, span {
    font-size: 3.6rem;
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 300;
    text-align: center;
  }

  span {
    color: var(--primary);
  }

  p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    text-align: center;
  }
}

/* Media Queries */
@media screen and (min-width: 585px) {
  .menu ul li {
    display: inline-block;
  }

  .container {
    grid-template-rows: 1fr 1fr 1fr 10fr 1fr;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5rem;

    h2, span {
      font-size: 4rem;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    ul li {
      padding: 1rem;
      
      a {
        font-size: 1.6rem;
      }
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;

    h2, span {
      font-size: 4rem;
    }

    p {
      font-size: 1.7rem;
    }
  }

  .content-text {
    width: 45rem;
  }

  .scroll-text span {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 960px) {
  .container {
    grid-template-areas:
      "logo menu"
      "social social"
      "content content"
      "scroll scroll";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    padding-top: 2rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  .social {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: auto;
  }

  .title {
    width: 50rem;
  }

  .content-text {
    width: 55rem;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    grid-template-areas:
      "logo menu social"
      "content content content"
      "scroll scroll scroll";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }
}