<header>
  <div class="bg-shadow">
    <div class="container">
      <div class="logo">
        <a href="#"><img src="assets/img/logo.png" alt="Antalya Logo"></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#" (click)="scrollToSection('header')">Home</a></li>
          <li><a href="#" (click)="scrollToSection('section-1')">Favourites</a></li>
          <li><a href="#" (click)="scrollToSection('section-2')">Guide</a></li>
          <li><a href="#" (click)="scrollToSection('section-3')">Discover</a></li>
          <li><a href="#" (click)="scrollToSection('section-4')">Gastronomy</a></li>
          <li><a href="#" (click)="scrollToSection('section-5')">Contact</a></li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-youtube"></i></li>
          <li><i class="fas fa-search"></i></li>
        </ul>
      </div>
      <div class="header-content">
        <div class="title">
          <h2>YOUR ULTIMATE <span>ANTALYA</span> TRAVEL GUIDE</h2>
        </div>
        <div class="content-text">
          <p>Unlock the secrets of Antalya with the insider knowledge from our website. Discover hidden treasures,
            personalized travel plans, and expert tips that will enrich your visit.</p>
        </div>
      </div>
      <div class="scroll">
        <div class="scroll-text"><span>Scroll Down</span></div>
        <div class="scroll-icon"><i class="fas fa-chevron-down"></i></div>
      </div>
    </div>
  </div>
</header>
