.section-2 {
  background: url('/assets/img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white);
  height: 100%;
}

.section-2-bg {
  background: rgba(0, 0, 0, 0.692);
  height: 100%;
  width: 100%;
  padding: 3rem 0;
}

.infos {
  display: grid;
  grid-template-areas:
    "info1 info2"
    "info3 info4";
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.info {
  width: 100%;
  height: 10rem;
  margin: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 2.2rem;
    font-family: var(--font-family);
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: 200;
    width: 70%;
    margin: 0 auto;
  }
}

.section-2-right {
  text-align: center;
  margin: 2rem 0;

  h3 {
    font-size: 5.5rem;
    font-family: 'Corinthia', cursive;
    font-weight: 100;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    text-align: left;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  }
}

/* Media Queries */
@media screen and (min-width: 585px) {
  .infos {
    width: 58rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .infos {
    width: 75rem;
    margin: 0 auto;
  }

  .info {
    span {
      font-size: 3rem;
    }

    p {
      font-size: 1.7rem;
    }
  }

  .section-2-right {
    h3 {
      font-size: 7rem;
    }

    p {
      width: 60rem;
    }
  }
}

@media screen and (min-width: 1168px) {
  .section-2 {
    height: 70svh;
  }

  .section-2-bg {
    display: grid;
    grid-template-areas: "left right";
    align-content: center;
    justify-content: center;
  }

  .section-2-left {
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 5rem;
  }

  .infos {
    width: 100%;
    margin: 0 auto;
  }

  .info {
    margin: 2rem 2rem;
  }

  .section-2-right {
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 5rem;
  }

  .section-2-left span {
    font-size: 3.5rem;
  }

  .section-2-right {
    h3 {
      font-size: 9rem;
    }

    p {
      width: 50rem;
      font-size: 1.7rem;
    }
  }
}